:root {
  --funky-blue: #000F44;
  --astronaut: #2b3d7b;
  --oxford-blue: #0E1428;
  --dim-gray:  #626267;
  --ivory: #FFFFEE;
  --xiketic: #111122;
  --red-crayola: #e84855;
  --purple: #6824D3;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/*@font-face {
  font-family: 'OpenSans';
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
}*/

#body {
  background-color: #000F44;
  color: ivory;
  font-family: OpenSans, Arial;
}

#menu-bar {
  height: 100%;
  left: 0%;
  position: fixed;
  width: 6%;
  background: #242424;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  /*Transition Timings*/
  transition: width 0.5s, box-shadow 0.5s;
}

.button-nav {
  filter: drop-shadow(0px 0px 0px grey);
  /*Transition Timings*/
  transition: filter 0.05s;
  width: 15%;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 100;
}

.button-nav:hover {
  filter: drop-shadow(0px 0px 2px grey);
}

.button-nav:hover ~ .nav-button-text {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  opacity: 1.0;
}

#home-button {
  width: 6vw;
}

.nav-button-img {
  width: 6vw;
  display: inline-block;
}

#nav-button-text-home {
  display: inline-block;
  margin: auto;
  font-size: 2vw;
  overflow: hidden;
  white-space: nowrap;
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  transition: clip-path 0.25s ease 0.05s;
  transition-delay: 0.05s;
}

/*
#menu-buttons {
  width: 6vw;
  transition: width 0.5s;
}
*/

#main-content {
  padding-left: 7%;
  transition: padding-left 0.5s;
}

/*controllerImage.js necessary CSS */

.controllerImageWrapper {
  --scaleFactor: 0.5;

  position: absolute;
  width: 80%;
  padding-top: 80%;
  right: -10%;
  top: -10%;
  transform: scale(var(--scaleFactor));
}
.controllerOverlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
