:root {
  --funky-blue: #000F44;
  --astronaut: #2b3d7b;
  --oxford-blue: #0E1428;
  --dim-gray:  #626267;
  --ivory: #FFFFEE;
  --xiketic: #111122;
  --red-crayola: #e84855;
  --purple: #6824D3;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
 display: none;
}

h1 {
  font-weight: 800;
  font-size: 7vw;
}

h2 {
  font-size: 4vw;
}


body {
  background: rgba(70,1,105,1);
    background-image: linear-gradient(62deg, #460169 0%, #000652 89%);
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  color: ivory;
  font-family: OpenSans, Arial;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Menu Related */

#menu-bar {
  height: 3vh;
  left: 0%;
  position: fixed;
  width: 100vw;
  background: #242424;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  z-index: 1000;
  /*Transition Timings*/
  transition: height 0.5s, box-shadow 0.5s;
}

.menu-button {
  cursor: pointer;
}

.menu-button:hover {
  background-color: #404040;
}

.menu-button:active {
  background-color: #666666;
}

/* HOME BUTTON */

#home-button {
  display: inline-block;
  position: absolute;
  top: -10vh;
  left: 0vw;
  height: 7vh;
  width: 13vw;
  /* Transition Timings */
  transition: top 0.25s ease;
  transition-delay: 0.05s;
}

#nav-button-img-home {
  height: 100%;
  position: absolute;
  /* Transition Timings */
  transition: height 0.6s;
}

#nav-button-img-home img  {
  height: 100%;
}

#nav-button-text-home {
  display: inline-block;
  position: absolute;
  margin-left: 4vw;
  font-size: 2vw;
  overflow: hidden;
  white-space: nowrap;
  top: 0.5vh;
}

/* HOME BUTTON END*/

/* DESIGN BUTTON */

#design-button {
  display: inline-block;
  position: absolute;
  top: -10vh;
  left: 13.5vw;
  height: 7vh;
  width: 10.8vw;
  /* Transition Timings */
  transition: top 0.25s ease;
  transition-delay: 0.07s;
}

#nav-button-img-design {
  position: absolute;
  height: 100%;
}

#nav-button-img-design img  {
  height: 100%;
}

#nav-button-text-design {
  display: inline-block;
  position: absolute;
  margin-left: 4vw;
  font-size: 2vw;
  overflow: hidden;
  white-space: nowrap;
  top: 0.5vh;
}

/* DESIGN BUTTON END*/

/* PROTOTYPE BUTTON */

#prototype-button {
  display: inline-block;
  position: absolute;
  top: -10vh;
  left: 24.8vw;
  height: 7vh;
  width: 13vw;
  /* Transition Timings */
  transition: top 0.25s ease;
  transition-delay: 0.09s;
}

#nav-button-img-prototype {
  height: 100%;
  position: relative;
}

#nav-button-img-prototype img  {
  height: 100%;
}

#nav-button-text-prototype {
  display: inline-block;
  position: absolute;
  margin-left: 3.8vw;
  font-size: 2vw;
  overflow: hidden;
  white-space: nowrap;
  top: 0.5vh;
}

/* PROTOTYPE BUTTON END*/

/* CONTACT BUTTON */

#contact-button {
  display: inline-block;
  position: absolute;
  top: -10vh;
  left: 38.3vw;
  height: 7vh;
  width: 11.8vw;
  /* Transition Timings */
  transition: top 0.25s ease;
  transition-delay: 0.11s;
}

#nav-button-img-contact {
  height: 100%;
  position: relative;
}

#nav-button-img-contact img  {
  height: 100%;
}

#nav-button-text-contact {
  display: inline-block;
  position: absolute;
  margin-left: 4vw;
  font-size: 2vw;
  overflow: hidden;
  white-space: nowrap;
  top: 0.5vh;
}

/* CONTACT BUTTON END*/

/* CREDITS BUTTON */

#credits-button {
  display: inline-block;
  position: absolute;
  top: -10vh;
  right: 0vw;
  height: 7vh;
  width: 10.5vw;
  /* Transition Timings */
  transition: top 0.25s ease;
  transition-delay: 0.13s;
}

#nav-button-img-credits {
  height: 100%;
  position: relative;
}

#nav-button-img-credits img  {
  height: 100%;
}

#nav-button-text-credits {
  display: inline-block;
  position: absolute;
  margin-left: 3.8vw;
  font-size: 2vw;
  overflow: hidden;
  white-space: nowrap;
  top: 0.5vh;
}

/* CREDITS BUTTON END*/

/* End Menu Related */

/* Credits Related */

#credits-container {
  padding-top: 10vh;
  position: fixed;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  opacity: 0.0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1100;
  /* Transition Timings */
  transition: opacity 0.2s;
}

#dismiss-credits {
  background-image: url("../img/LabelX.svg");
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  right: 29vw;
  top: 8vh;
  cursor: pointer;
}

#dismiss-credits:hover {
  background-image: url("../img/LabelX-Hover.svg");
}

#credits-content {
  padding: 1%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 50% 50%;
  grid-row-gap: 1%;
  grid-auto-rows: 24.4%;
  width: 40vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
  background-color: #4d001f;
  border-radius: 5%;
}

.grid-item {
  background-color: #660029;
  text-align: center;
}

.grid-item img {
  height: 100%;
  padding: 3%;
}

.grid-item h3 {
  font-size: 2vw;
  padding-top: 7%;
  font-weight: 800;
}

.grid-item p {
  font-size: 1.3vw;
  padding-top: 1%;
}

.cg-l {
  border-radius: 10% 0% 0% 10%;
}

.cg-r {
  border-radius: 0% 10% 10% 0%;
}

/* END Credits Related */

/* Nav Indicator */

#nav-indicator {
  pointer-events: none;
  position: fixed;
  opacity: 1.0;
  height: 3vh;
  width: 3vh;
  left: 0.2vh;
  z-index: 1000;
  /* Transition Timings */
  transition: opacity 0.05s;
}

/* End Nav Indicator */

/* Nav Arrow Related */

#nav-arrow-up {
  background-image: url("../img/NavArrowUp.svg");
  cursor: pointer;
  position: fixed;
  margin-top: 9vh;
  right: 1vw;
  width: 3.5vw;
  height: 3.5vw;
  z-index: 1000;
  opacity: 0.0;
  transition: opacity 0.3s;
  pointer-events: none;
}

#nav-arrow-up:hover {
  background-image: url("../img/NavArrowUp-Hover.svg");
}

#nav-arrow-up:active {
  background-image: url("../img/NavArrowUp.svg");
}

#nav-arrow-down {
  background-image: url("../img/NavArrowDown.svg");
  cursor: pointer;
  position: fixed;
  margin-top: 89vh;
  right: 1vw;
  width: 3.5vw;
  height: 3.5vw;
  z-index: 1000;
  opacity: 1.0;
  transition: opacity 0.3s;
  pointer-events: all;
}

#nav-arrow-down:hover {
  background-image: url("../img/NavArrowDown-Hover.svg");
}

#nav-arrow-down:active {
  background-image: url("../img/NavArrowDown.svg");
}

/* END Nav Arrow Related */

/* MAIN CONTENT 1*/

#main-content-1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-top: 2vh;
  top: 0vh;
  transition: margin-top 0.5s, top 0.5s;
}

#main-content-1-dividerBG {
  position: absolute;
  width: 100vw;
  height: 51vh;
  background: #a84a73;
  background-image: linear-gradient(45deg, #0d0887, #41049d, #6a00a8, #8f0da4, #b12a90, #cb4679, #e16462, #f1834c, #fca636, #fcce25, #fcce25);
  overflow: hidden;
}

#tag-line {
  position: absolute;
  padding-left: 30%;
}

#controller-inside-img {
  width: 40vw;
  position: absolute;
  top: 25%;
  margin-left: -7%;
}

#controller-inside-img img {
  width: 100%;
  transform: scaleX(-1);
}

#controller-shell-img  {
  width: 40vw;
  position: absolute;
  top: 18%;
  margin-left: 3%;
}

#controller-shell-img  img {
  width: 100%;
  transform: scaleX(-1);
}

#controller-modules-img {
  width: 40vw;
  position: absolute;
  top: 35%;
  margin-left: 13%;
}

#controller-modules-img img {
  width: 100%;
  transform: scaleX(-1);
}

#main-content-1-divider {
  position: absolute;
  background-color: black;
  top: 50vh;
  width: 100vw;
  height: 3vh;
}

/* END MAIN CONTENT 1 */

/* MAIN CONTENT 2 */

#main-content-2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-top: 2vh;
  top: 100vh;
  transition: margin-top 0.5s, top 0.5s;
}

/*controllerImage.js necessary CSS */

.controllerImageWrapper {
  --scaleFactor: 1.0;

  position: absolute;
  width: 40vw;
  padding-top: 40vw;
  margin-left: 50vw;
  top: 20vh;
  transform: scale(var(--scaleFactor));
}
.controllerOverlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* END MAIN CONTENT 2 */

/* MAIN CONTENT 3 */

#main-content-3 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-top: 2vh;
  top: 100vh;
  transition: margin-top 0.5s, top 0.5s;
}

/* END MAIN CONTENT 3 */

/* MAIN CONTENT 4 */

#main-content-4 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-top: 2vh;
  padding-top: 2vh;
  top: 100vh;
  transition: margin-top 0.5s, top 0.5s;
  text-align: center;
}

#main-content-4 p {
  font-size: 2vw;
}

#contact-form {
  display: grid;
  grid-template-areas:
  'emaillabel emaillabel namelabel namelabel'
  'emailinput emailinput nameinput nameinput'
  'messagelabel messagelabel messagelabel messagelabel'
  'messageinput messageinput messageinput messageinput'
  'messageinput messageinput messageinput messageinput'
  'sendemail sendemail sendemail sendemail';
  grid-gap: 3%;
  padding: 5%;

}

input {
  border-radius: 1vw;
  padding: 1vw;
  font-size: 1.5vw;
}

label {
  font-size: 1.5vw;
  color: rgba(255,255,255,0.6);
}

textarea {
  border-radius: 1vw;
  padding: 1vw;
  font-size: 1.5vw;
}

#email-label {
  grid-area: emaillabel;
}

#email-input {
  grid-area: emailinput;
}

#name-label {
  grid-area: namelabel;
}

#name-input {
  grid-area: nameinput;
}

#message-label {
  grid-area: messagelabel;
}

#message-input {
  grid-area: messageinput;
  height: 20vh;
  resize: none;
}

#send-email {
  grid-area: sendemail;
  margin-left: 24vw;
  margin-right: 24vw;
  margin-top: 3vh;
}


/* END MAIN CONTENT 4 */
